<div class="card border-primary mb-3 mt-4 d-flex justify-content-center" style="width: 55rem;">
	<div class="card-header">
		<h3>{{ categorie.name }}</h3>
	</div>
	<div class="card-body">

		{% for question in questions %}
			<h5 class="card-title mt-2 mb-2">
				{{ question.question }}
				<br><br>
				{% block choices %}
					{% include "sections/_radio.html.twig" %}
				{% endblock %}
				<br><br>
			</h5>
		{% endfor %}
		<p class="card-text"></p>
	</div>
</div>
