{% for reponse in reponses %}
	{% if reponse.getIdQuestion() == question.id %}
		{% set radio_name = reponse.id %}

	<div class="btn-group gap-2" role="group" aria-label="Basic checkbox toggle button group">
  <input type="checkbox" class="btn-check" id="{{ radio_name }}" autocomplete="off">
  <label class="btn btn-primary" for="{{ radio_name }}">{{ reponse.reponse }}</label>

	{% endif %}
{% endfor %}
