{% for reponse in reponses %}
	{% if reponse.getIdQuestion() == question.id %}
		{% set radio_name = reponse.id %}
		<div class="btn" aria-label="Basic radio toggle button group">
			<input type="radio" class="btn-check" name="btnradio" id="{{ radio_name }}" autocomplete="off" checked="">
			<label class="btn btn-primary" for="{{ radio_name }}">
				{{ reponse.reponse }}
			</label><br><br>
		</div>
	{% endif %}
{% endfor %}
