<section id="mainCategory" class="m-3 p-2 mt-4 d-flex align-items-start flex-column rounded" style="width: 200px; height: 100%; background-color: rgb(120, 194, 173)">
	<div>
		<label for="film">Films</label>
		<input type="checkbox" id="film" class="visually-hidden">
		<div class="films">
			{% for categories in categorie %}
				<h6>{{categories.name}}</h6>
			{% endfor %}
		</div>
	</div>

	<div>
		<label for="js">Jeux</label>
		<input type="checkbox" id="js" class="visually-hidden">
		<div class="jds">
			<h6></h6>
		</div>
	</div>

	<div>
		<label for="lf">Langue française
		</label>
		<input type="checkbox" id="lf" class="visually-hidden">
		<div class="lfs">
			<h6>Définitions de mots</h6>
		</div>
	</div>

	<div>
		<label for="pg">Informatique</label>
		<input type="checkbox" id="pg" class="visually-hidden">
		<div class="pgs">
			<h6>Programmation</h6>
		</div>
	</div>

	<div>
		<label for="culinaire">Cuisines</label>
		<input type="checkbox" id="culinaire" class="visually-hidden">
		<div class="culinaires">
			<h6>Spécialités culinaires</h6>
    	</div>
	</div>


	<div>
		<label for="serie">Séries</label>
		<input type="checkbox" id="serie" class="visually-hidden">
		<div class="series">
			<h6>Les simpson - partie 1</h6>
            <h6>Les simpson - partie 2</h6>
            <h6>Stargate SG1</h6>
			<h6>NCIS</h6>
		</div>
	</div>

	<div>
		<label for="sigle">Sigles</label>
		<input type="checkbox" id="sigle" class="visually-hidden">
		<div class="sigles">
			<h6>Sigles Française</h6>
			<h6>Sigles Informatiques</h6>
		</div>
	</div>
</section>
