<div class="card border-primary mb-3 mt-4 d-flex justify-content-center" style="width: 35rem;">
	<div class="card-header">Categorie</div>
	<div class="card-body">
		<h4 class="card-title">Question</h4>
		<p class="card-text">

			{% block choices %}
				{% include "parts/_radio.html.twig" %}
			{% endblock %}

      <br>
			<div class="btn-group me-2 mt-4 d-flex justify-content-between" role="group" aria-label="Second group">
				<button type="button" class="btn btn-secondary">Prev</button>
        <div class="col-8"></div>
				<button type="button" class="btn btn-secondary">Next</button>
			</div>

		</p>
	</div>
</div>
