{# {% extends 'base.html.twig' %} #}

{% block body %}
<div class="text-3xl font-bold underline">
    <h1>Surpise motherfucker!</h1>

    This friendly message is coming from:
    THE MOON
</div>
{% endblock %}

